@using BlazorNitflex.Layouts
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, User")]
@layout MainLayout
@page "/mymovies"


<h3>Coming soon! Access this feature early by buying NitFlex Premium for only $99.99. 
    Mobilepay number: 88888888
</h3>

@code {

}
