@using BlazorNitflex.Layouts

@layout MainLayout
@page "/mymovies"


<h3>Coming soon! Access this feature early by buying NitFlex Premium for only $99.99. 
    Send money with your email through mobilepay to the number 88888888
</h3>

@code {

}
